.Logo {
  letter-spacing: 1.2rem;
  font-size: 5rem;
  position: absolute;
  top: 10%;
  left: 10%;
  margin: auto;
  padding: 15px;
  color: rgba(165, 2, 2, 0.9);
}

.LineOne {
  width: 50%;
  border: 1px solid black;
  position: absolute;
  top: 21%;
  left: 11%;
}

.LineTwo {
  width: 30%;
  position: absolute;
  top: 17.5%;
  left: 22.35%;
}

.LineTwo div {
  width: 10%;
  border: 1px solid black;
  margin: 5px 0;
}

.LineTwo :nth-child(1) {
  width: 30%;
}

.LineTwo :nth-child(2) {
  width: 60%;
}

.LineTwo :nth-child(3) {
  width: 90%;
}

@media (max-width: 374px) {
    .Logo {
      letter-spacing: .8rem;
      font-size: 3rem;
      top: 0%;
      left: 5%;
    }

    .LineOne, .LineTwo {
      display: none;
    }
}

@media (min-width: 375px)
  and (max-width: 480px) {

    .Logo {
      letter-spacing: .8rem;
      font-size: 3.5rem;
      top: 0%;
      left: 5%;
    }

    .LineOne, .LineTwo {
      display: none;
    }

}

@media only screen 
  and (min-width: 481px)
  and (max-width: 736px) {

    .Logo {
      letter-spacing: .8rem;
      font-size: 4.5rem;
      top: 0%;
      left: 5%;
    }

    .LineOne, .LineTwo {
      display: none;
    }
}

@media only screen 
  and (min-width: 737px)
  and (max-width: 980px) {

    .Logo {
      letter-spacing: .8rem;
      font-size: 4.5rem;
      top: 0%;
      left: 5%;
    }

    .LineOne, .LineTwo {
      display: none;
    }
}

@media only screen 
  and (min-width: 981px)
  and (max-width: 1280px) {
    
    .LineOne {
      top: 22.5%;
      left: 11.5%;
    }
    
    .LineTwo {
      top: 19.2%;
      left: 28%;
    }
}

@media only screen 
  and (min-width: 1281px)
  and (max-width: 1440px) {

    .LineOne {
      top: 22.4%;
      left: 11.4%;
    }
    
    .LineTwo {
      top: 19.2%;
      left: 26%;
    }
}

@media only screen 
  and (min-width: 1441px)
  and (max-width: 1490px) {
    .LineOne {
      top: 22.4%;
      left: 11.4%;
    }
    
    .LineTwo {
      top: 19.2%;
      left: 26%;
    }
}

/* @media only screen 
  and (min-width: 1491px) {
    .LineOne {
      top: 22.4%;
      left: 11.2%;
    }
    
    .LineTwo {
      top: 19.2%;
      left: 23.7%;
    }
} */