.CarouselNav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.CarouselNav a {
  text-align: center;
  font-size: 2rem;
  padding: 10px;
}

.CarouselNav a i {
  text-shadow: 0px 5px 30px rgba(107,107,107,.7);
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  .CarouselNav a {
    font-size: 2.5rem;
    margin: 15px 0;
  }
}

@media only screen and (min-device-width : 1025px) and (max-device-width : 1380px) {
  .Gallery {
    display: flex;
    flex-flow: column;
  }

  .CarouselNav a {
    font-size: 2.5rem;
    margin-top: 20px;
  }

  .CarouselNav a i:hover {
    color: #D2AB99;
    transition: .7s;
    text-shadow: none;
  }

}

@media only screen and (min-device-width : 1381px) and (max-device-width : 1823px) {
  .Gallery {
    display: flex;
    flex-flow: column;
  }

  .CarouselNav a {
    font-size: 2.8rem;
    margin-top: 20px;
  }

  .CarouselNav a i:hover {
    color: #D2AB99;
    transition: .7s;
    text-shadow: none;
  }
}

@media only screen and (min-device-width : 1824px) {
  .Gallery {
    display: flex;
    flex-flow: column;
  }

  .CarouselNav a {
    font-size: 2.8rem;
    margin-top: 20px;
  }

  .CarouselNav a i:hover {
    color: #D2AB99;
    transition: .7s;
    text-shadow: none;
  }
}