.SocNav {
  padding: 20px;
  margin-bottom: 25px;
  margin-right: 20%;
}


.SocNav li {
  position: relative;
  display: inline-block;
  padding: 10px 30px;
  font-size: 1.8rem;
}

.SocNav li:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 100%;
  width: 0;
  height: 3px;
  background-color: #000;
  transition: width .3s ease-in-out;
}

.SocNav ul:hover > li {
  opacity: .5;
}

.SocNav ul li:hover {
  color: rgb(212, 16, 16);
  opacity: 1;
  cursor: pointer;
}

.SocNav li:hover:after {
  width: 100%;
}

@media only screen 
  and (min-width: 375px)
  and (max-width: 500px) {

    .SocNav {
      padding: 10px;
      position: relative;
      top: 0;
      left: 8%;
      right: 0;
      
    }
    
    .SocNav li {
      display: inline;
    }

}