.Landing {
  border: 1px solid red;
}

.Hero {
  background-image: url('../../images/hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 30%;
  height: 50vh;
}
