.Landing {
  display: grid; 
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(100px, auto);
  margin: 25px 0 5px 25px;
}

.Hero {
  background: center / cover no-repeat url('../../images/hero.jpg');
  height: 80vh;
  width: 110%;
  margin-top: -25px;
  margin-bottom: -50px;
}

.SidePanel {
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  background-color: transparent;
}