* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  font-family: 'Raleway', sans-serif;
  line-height: 1.3;
}

a { 
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

@media only screen 
  and (min-width: 375px)
  and (max-width: 500px)
  and (min-height: 812px) {

    body {
      overflow-x: hidden;
      margin: auto;
    }

}