.Toolbar {
  background-color: rgba(255,140, 65,1);
  display: grid;
  grid-template-columns: 1.25fr .75fr;
  height: auto;
  padding: 1rem .5rem;
}

.Toolbar h1 {
  font-size: 4rem;
  letter-spacing: 1rem;
  padding: 1rem;
}

.Nav {
  align-self: end;
  justify-self: end;
  width: 80%;
  padding: 1.2rem;
  text-align: center;
}

.Nav ul {
  padding: 1rem;
}

.Nav ul li {
  display: inline-block;
  padding: 0 1.2rem;
  font-size: 1.5rem;
}

