.Projects {
  background-color: #E5F4EE;
  padding: 15px 0;
  margin-bottom: 25px;
  box-shadow: 0px 10px 50px -10px rgba(107,107,107,1);
  height: auto;
}

.GridTitle {
  text-align: center;
  font-size: 2rem;
  letter-spacing: .5rem;
  padding: 15px;
  margin-bottom: 20px;
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  .GridTitle {
    font-size: 3rem;
  }
}

@media only screen and (min-device-width : 1025px) and (max-device-width : 1380px) {
  
  .GridTitle {
    font-size: 3.2rem;
  }

  .ProjectGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    margin-bottom: 25px;
  }
}

@media only screen and (min-device-width : 1381px) and (max-device-width : 1823px) {
  .GridTitle {
    font-size: 3.6rem;
    padding: 30px 0;
  }

  .ProjectGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    margin-bottom: 40px;
  }
}

@media only screen and (min-device-width : 1824px) {
  .GridTitle {
    font-size: 4rem;
    padding: 30px 0;
  }

  .ProjectGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    margin-bottom: 40px;
  }
}