.About {
  background-color: rgba(1, 1, 1, .75);
  color: rgba(255,242,233,1);
  padding: 3rem;
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: 
  'intro section-1 section-1 section-1'
  'intro section-2 section-2 section-2'
  'skills section-3 section-3 section-3';
}

.Intro {
  grid-area: intro;
  text-align: center;
  margin-bottom: 2rem;
  padding: 1rem;
}

.Intro h2 {
  margin-bottom: 1.5rem;
  font-size: 2.8rem;
}

.Intro img {
  height: 50%;
  width: 50%;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.Intro p {
  font-size: 1.1rem;
}

.About section {
  width: 80%;
  margin: 1rem auto;
  font-size: 1.3rem;
  padding: 1rem;
  letter-spacing: .1rem;
}

.Section__One {
  grid-area: section-1;
}

.Section__Two {
  grid-area: section-2;
}

.Section__Two p {
  margin-bottom: 1rem;
}

.Section__Three {
  grid-area: section-3;
}

.Skills {
  grid-area: skills;
  padding: 1rem;
  text-align: center;
}

.Skills h3 {
  margin-bottom: 1rem;
  font-size: 1.6rem;
}

.Skills p {
  padding: 1rem;
  font-size: 1.2rem;
  letter-spacing: .1rem;
}

.Skills a {
  font-size: 1.2rem;
  font-weight: bold;
  color: rgba(255,140, 65,1);
}

.Emphasis {
  color: rgba(255, 100, 0,1);
}
