.About {
  margin: auto;
  padding: 15px 35px;
  position: relative;
}

.SectionIntro {
  font-size: 2.8rem;
  letter-spacing: .5rem;
  margin-left: 30px;
  position: relative;
  z-index: 9999;
}

.ProfileDetails {
  display: grid;
  grid-template-columns: .5fr 1.5fr;
  grid-auto-rows: minmax(100px, auto);
}

@media (max-width: 480px) {

    .SectionIntro {
      font-size: 2rem;
      letter-spacing: .1rem;
      top: 0; 
      left: 0;
      right: 0;
      padding: 10px;
      margin: auto;     
      text-align: center;
    }

    .ProfileDetails {
      display: grid;
      grid-template-columns: 1fr;
      grid-auto-rows: auto;
      margin: auto;
    }

}

@media only screen 
  and (min-width: 481px)
  and (max-width: 736px) {
    
    .SectionIntro {
      font-size: 2rem;
      letter-spacing: .1rem;
      top: 0; 
      left: 0;
      right: 0;
      padding: 10px;
      margin: auto;     
      text-align: center;
    }

    .ProfileDetails {
      display: grid;
      grid-template-columns: 1fr;
      grid-auto-rows: auto;
      margin: auto;
    }
}

