.About {
  background-color: rgba(1, 1, 1, .7);
  color: rgba(255,242,233,1);
  padding: 3rem;
  width: 90%;
  margin: 3rem auto 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(6.25rem, auto);
}

.Intro {
  margin-bottom: 2rem;
  border: 1px solid red;
}

.Intro h2 {
  margin-bottom: 1.5rem;
}

.Intro img {
  height: 50%;
  width: 50%;
  border-radius: 50%;
  margin-bottom: 1rem;
}
