.Details {
  margin-bottom: 20px;
  padding: 15px;
  text-align: center;
  background-color: #FFFCFC;
}

.ProjectName {
  margin-bottom: 10px;
  padding: 15px 0;
  font-size: 1.5rem;
}

.Technologies {
  margin-bottom: 5px;
  padding: 10px 0;
}

.Description {
  margin-bottom: 10px;
  padding: 15px 10px;
}


.ProjectLinks {
  padding: 15px;
}

.ProjectLinks a {
  display: block;
  margin: 0 auto 20px auto;
  padding: 5px;
  width: 50%;
  box-shadow: 0px 10px 50px -10px rgba(107,107,107,1);
  background-color: #D1E8F5;
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  .ProjectName {
    font-size: 2rem;
  }

  .Technologies {
    font-size: 1.2rem;
  }

  .Description {
    font-size: 1.2rem;
  }

  .ProjectLinks a {
    width: 30%;
    font-size: 1.1rem;
    margin-bottom: 25px;
  }
}

@media only screen and (min-device-width : 1025px) and (max-device-width : 1380px) {
  .ProjectName {
    font-size: 2rem;
  }

  .Technologies {
    font-size: 1.2rem;
  }

  .Description {
    font-size: 1.2rem;
  }

  .ProjectLinks a {
    width: 25%;
    padding: 10px 0;
    font-size: 1.1rem;
    margin-bottom: 30px;
  }

  .ProjectLinks a:hover {
    background-color: #D2AB99;
    transition: .7s;
    font-weight: 700;
  }

}

@media only screen and (min-device-width : 1381px) and (max-device-width : 1823px) {
  .Details {
    padding: 30px;
  }
  
  .ProjectName {
    font-size: 2.5rem;
  }

  .Technologies {
    font-size: 1.5rem;
  }

  .Description {
    font-size: 1.5rem;
  }

  .ProjectLinks a {
    width: 25%;
    padding: 10px 0;
    font-size: 1.1rem;
    margin-bottom: 30px;
  }

  .ProjectLinks a:hover {
    background-color: #D2AB99;
    transition: .7s;
    font-weight: 700;
  }
}

@media only screen and (min-device-width : 1824px) {
  .Details {
    padding: 50px;
  }
  
  .ProjectName {
    font-size: 3rem;
  }

  .Technologies {
    font-size: 1.8rem;
  }

  .Description {
    font-size: 1.8rem;
  }

  .ProjectLinks a {
    width: 23%;
    padding: 10px 0;
    font-size: 1.1rem;
    margin-bottom: 30px;
  }

  .ProjectLinks a:hover {
    background-color: #D2AB99;
    transition: .7s;
    font-weight: 700;
  }
}