.SideBar {
  background-color: rgb(221, 12, 12);
  width: 15%;
  height: 40vh;
  margin-right: 20%;
  text-align: center;
}

.SideBar ul {
  margin-top: 35%;
}

.SideBar li {
  font-size: 1.2rem;
  padding: 20px 0;
  margin-bottom: 15px;
  letter-spacing: .2rem;
  position: relative;
  z-index: 1;
}

.SideBar li::after {
  content: '';
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: #000;
  transform-origin: left;
  transition: width .45s ease-in-out;
  z-index: -1;
}

.SideBar li:hover {
  color: #fafafa;
  font-weight: bold;
  cursor: pointer;
}

.SideBar li:hover::after {
  width: 100%;
}

@media only screen 
  /* and (min-width: 375px) */
  and (max-width: 480px) {

    .SideBar {
      display: none;
    }

}

@media only screen 
  and (max-width: 736px) {

    .SideBar {
      width: auto;
      height: auto;
      margin: 0;
      text-align: center;
    }
    
    .SideBar ul {
      margin-top: 0;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
    
    .SideBar li {
      padding: 0;
      letter-spacing: .2rem;
      margin: 0;
      z-index: 0;
    }

    .SideBar li::after {
      display: inline;
      position: none;
      transform-origin: none;
      transition: none;
    }
}

@media only screen 
  and (min-width: 900px)
  and (max-width: 1280px) {
    
    .SideBar {
      width: 20%;    
    }
  
}

@media only screen 
  and (min-width: 1300px)
  and (max-width: 1440px) {

    .SideBar {
      width: 20%;    
    }
}
