* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  font-family: 'Raleway', sans-serif;
  /* background-color: #000;
  color: #fafafa; */
  line-height: 1.3;
}

a { 
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}
