* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  font-family: 'Raleway', sans-serif;
  line-height: 1.3;
  overflow-x: hidden;
  margin: auto;
}

a { 
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

